* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* imagen principal */
figure img {
    position: relative;
}
    
 /* barra de menú principal */
.mainmenu{
    display:flex;
}
/* icono pexels */
#icono {
    display: flex;
    position: absolute;
    top: 15px;
    left: 18px;
}
#iconoimg {
    width: 38px;
    height: 38px;
    border-radius: 7px;
}

/*  */

.lefty {
    margin-right: 14px;
}
.righty {
    padding-top: 6px;
    padding-bottom: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    font-style: normal;
}
/*  */

#search-top {
    width: 600px;
    height: 50px;
    border-radius: 5px;
    border:none;
    align-items: center;
}

#search-top::placeholder {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:15px;
}
.search-icon {
    font-size: 24px;
    color: gray;

}

/* Botón únete */

.boton {
    width: 100px;
    height: 40px;
    background-color: rgb(74, 146, 125);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: rgb(74, 146, 125);
    opacity:0.8;
}
.contenedor {
    width: 100%;
    height: 10vh;
    background-color:rgb(24, 31, 43);
    position: absolute;
    top: 0;
    display: flex;
}

#barra-principal{
    width:100%;
    margin: auto;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}

/* barra principal menu derecha */
.mainbar{
    display:flex;
    justify-content: space-between;
}
.nav a {
    color:white;
    padding: 30px 16px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.nav a:hover {
    color:white;
    opacity: .8;
    margin-top: 16px;
}
/* pie de foto */
#piefoto{
    position: absolute;
    bottom: 120px;
    right: 10px;
}
#piefoto p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
    color:white;
    opacity: .5;
}
#piefoto p:hover{
    color:white;
    opacity: 1;
}


/* Barra de busqueda central */
#center {
    display:flex;
    display:block;
    position:absolute;
    top:22vh;
    left: 25vw;
    width: 700px;
    height:100px;
}
.toppart {
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

#search{
    width:600px;
    height: 60px;
    border-radius: 7px;
    border:none;
    margin-bottom: 10px;
}

#search::placeholder {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:15px;
}

#sugerencias ul li{
    list-style: none;
    display:inline;
    color: white;
}
#sugerencias ul li a{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    opacity: .8;
}

#sugerencias ul li a:hover {
    color:white;
    opacity: 1;

}

#menubottom {
    width: 100%;
    height: 70px;
    margin:auto;
    display:flex;
    justify-content: center;
    border-bottom: 2px;
    /* border-color: rgb(192, 190, 190); */
}

#menu-bottom ul li {
    display:inline;
    padding: 10px 8px;
    margin:auto;
}
#menu-bottom ul li a {
    color:rgb(63, 58, 58);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 500;
}
#menu-bottom ul li a:hover {
color: rgb(35, 123, 255);
}

/* Falta colocar la línea azul debajo de inicio */

/* Barra de inicio del contenido */

#stock{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
}
#stock-left > h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
} 

select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 600;
    border: transparent;

}
.suge-tend {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
#stock-left{
    padding-left: 25px;
}
#stock-right {
    padding-right: 25px;
}
#stock-right select option:hover {
    background-color:rgb(180, 176, 176);
}

/* imagenes */

.gallery{
    display: flex;
    padding-left:  25px;
    padding-right: 25px;
    gap: 15px;

}
.column{
    width:33.3%;
}

.gallery-img {
    width: 100%;
    padding-bottom: 15px;
    
}