* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* imagen principal */
figure img {
    position: relative;
}
    
 /* barra de menú principal */
.mainmenu{
    display:flex;
}
    
.contenedor {
    width: 100%;
    height: 10vh;
    background-color:rgb(24, 31, 43);
    position: absolute;
    top: 0;
    display: flex;
}

#barra-principal{
    width:100%;
    margin: auto;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
}

/* barra principal menu derecha */

.nav {
 height: 100%;
}

.nav > ul{
    height: 100%;
    display: flex;
}
.nav > ul > li {
    height: 100%;
    list-style: none;
    position:relative;
}
.menu-right{
    width:100%;
    height:100%;
    display: flex;
}
.nav ul li ul {
    width: 120px;
    background-color: white;
    display:flex;
    flex-direction:column;
    position:absolute;
    top:12vh;
    visibility: hidden;
    z-index: 10;
}
.nav ul li ul:hover {
    visibility:visible;

}
/* pie de foto */
#piefoto{
    position: absolute;
    bottom: 120px;
    right: 10px;
}
#piefoto p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:12px;
    color:white;
    opacity: .5;
}
#piefoto p:hover{
    color:white;
    opacity: 1;
}


/* Barra de busqueda central */
#center {
    display:flex;
    display:block;
    position:absolute;
    top:22vh;
    left: 25vw;
    width: 700px;
    height:100px;
}
.toppart {
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

#search{
    width:600px;
    height: 60px;
    border-radius: 7px;
    border:none;
    margin-bottom: 10px;
}

#search::placeholder {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left:15px;
}

#sugerencias ul li{
    list-style: none;
    display:inline;
    color: white;
}
#sugerencias ul li a{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    opacity: .8;
}

#sugerencias ul li a:hover {
    color:white;
    opacity: 1;

}

#menubottom {
    width: 100%;
    height: 70px;
    margin:auto;
    display:flex;
    justify-content: center;
    border-bottom: 2px;
    /* border-color: rgb(192, 190, 190); */
}

#menu-bottom ul li {
    display:inline;
    padding: 10px 8px;
    margin:auto;
}
#menu-bottom ul li a {
    color:rgb(63, 58, 58);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 500;
}
#menu-bottom ul li a:hover {
color: rgb(35, 123, 255);
}

/* Falta colocar la línea azul debajo de inicio */

/* Barra de inicio del contenido */

#stock{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
}
#stock-left > h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
} 

select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    font-weight: 600;
    border: transparent;

}
.suge-tend {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
#stock-left{
    padding-left: 25px;
}
#stock-right {
    padding-right: 25px;
}
#stock-right select option:hover {
    background-color:rgb(180, 176, 176);
}

/* imagenes */

.gallery{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left:  25px;
    padding-right: 25px;
    grid-gap:10px;
    margin:0;
}
.gallery-img {
    width: 100%;
    flex-wrap: wrap;
}